.ckLogoHeader {
width: 200px;
}
/*--footer-------------------------------------------------------------------------------------------------------------------*/
.footerDesign {
padding-top: 2%;
padding-bottom: 2%;
}
.footerDesignAddress {
padding-top: 5%;
padding-bottom: 5%;
padding-left: 2%;
padding-right: 2%;
}
.ckLogoFooter {
width: 200px;
text-align: center;
}
.Icon-Footer {
width: 10%;
padding-right: 5%;
margin-left: 3%;
margin-right: 3%;
padding-top: 2%;
}
.paddingSocialNetw {
width: 10%;
padding-right: 5%;
margin-left: 3%;
margin-right: 3%;
padding-top: 2%;
}
.lzrPicFooter {
width: 25%;
padding-top: 5%;
padding-bottom: 5%;
}
.txtFraseLZR_uno {
font-size: 1.3rem;
font-weight: bolder;
padding-top: 15%;
}
.txtFraseLZR_Dos {
font-size: 1rem;
font-style: italic;
}
.address-ol {
text-align: left;
list-style-type: none;
}
.footerLeft-Design {
padding-left:1%;
padding-top: 0%;
padding-bottom: 5%;
}
.ckTradeMark {
  font-size: 0.8rem;
}
/*--maestros--NO solo en Mobile----------------------------------------------------------------------------------------------------*/
.pilaresImages {
     width: 90%;
     border-radius: 2%;
}
/*---images------------------------------------------------------------------------------------------------------------------------*/
.Main-image-all-Sections {
width: 100%;
object-fit: cover;
object-position: bottom;
}
/*---Contact------------------------------------------------------------------------------------------------------------------------*/
.contactIconos {
padding-right: 5%;
width: 15%;
}
.AddContactoTxt {
padding-left: 10%;
}
/*-----Maestros---------------------------------------------------------------------------------------------------------------------*/
.maestrosDesignTitle {
font-size: 1.5rem;
padding-left: 2%;
}
.maestrosDesign {
font-size: 1rem;
padding-left: 2%;
}
/*---Eventos----------------------------------------------------------------------------------------------------------------------*/
.vinetas {
width: 3%;
}
/*---Card -- Information Text Content---------------------------------------------------------------------------------------------*/
.card {
position: relative;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: rgba(0, 0, 0, 0.0);
background-clip: border-box;
border: 1px solid rgba(0, 0, 0, 0.0);
border-radius: 0.25rem;
}
/*- Old Maestros---------------------------------------------------------------------------------------------------------------*/
.image {
position: relative;
object-fit: cover;
width: 100%;
}
.OurTeachers {
object-fit: cover;
width: 100%;
font-size: 1.2rem;
}
h2 {
position: absolute;
font-size: 140%;
top: 90%;
left: 0;
height: 6%;
width: 100%;
text-align: center;
background-color: rgba(209, 153, 42, 0.7);
}
h4 {
position: absolute;
font-size: 140%;
top: 80%;
left: 0;
width: 100%;
text-align: center;
background-color: rgba(209, 153, 42, 0.7);
}
.TeachersPraphRef {
font-size: 1.2rem;
color:#D1992A;
}
/*---index-------------------------------------------------------------------------------------------------------------------*/
.eventosTxt {
font-size: 1.1rem;
}
.centerMainText {
padding-top: 2%;
padding-bottom: 2%;
font-size: 1.2rem;
width: 90%;
}
.pilaresDesign  {
width: 85%;
text-align: center;
}
.Festiv-Img {
width: 100%;
border-radius: 10px;
}
.Festiv-Txt {
font-size: 1.2rem;
color:#D1992A;
}
.hrGolden {
height:1px;
width:90%;
text-align: center;
background-color:#D1992A;
}
.hrGoldenNextEvents {
height:1px;
width:100%;
background-color:#D1992A;
}
/*---LZR Phrase Order near footer-----------------------------------------------------------------------------------
#phraseOrderMain {
display: flex;
}
#phraseOrderPicture {
order: 1;
}
#phaseOrderPhrase {
order: 2;
}
*/
/*---404------------------------------------------------------------------------------------------------------------------------*/
.error404-img {
height: 50%;
width: auto;
}
#error404-content {
position: relative;
}
#error404-content img {
position: absolute;
top: 0px;
right: 0px;
}
/*--CK Center---------------------------------------------------------------------------------*/
.khamlungpa-Img {
  width: 60%;
  border-radius: 10px;
  }
.KhamlungpaText{
  font-size: 1.5rem;
  font-weight: bold;
}
/*---index Paarallax images-----------------------------------------------------------------------------*/
.indexMainImgParallax {
  /* The image used */
  background-image: url("../images/Index_img/MAITREYA-37.jpg");

  /* Set a specific height */
  min-height: 900px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.indexWheelImg{
  /* The image used */
  background-image: url("../images/Index_img/Festividades.jpg");

  /* Set a specific height */
  min-height: 900px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*---centro khamlungpa Paarallax images-----------------------------------------------------------------------------*/
.ckMainImgParallax {
  /* The image used */
  background-image: url("../images/Center_img/CenterMain.jpg");

  /* Set a specific height */
  min-height: 800px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*---Maestros Paarallax images---SSDL---LY---LZR---Norbu--------------------------------------------------------------------------*/
.maestrosMainImgParallax {
  /* The image used */
  background-image: url("../images/Teachers_img/TeachersMain.jpg");

  /* Set a specific height */
  min-height: 800px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*---Sesion Meditacion--Paarallax images----------------------------------------------*/
.sesionMeditacionMainImgParallax {
  /* The image used */
  background-image: url("../images/Meditation/AprendiendoaMeditar.jpg");

  /* Set a specific height */
  min-height: 800px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*---Sesion Meditacion--Paarallax images----------------------------------------------*/
.eventoAprendiendoMeditarMainImgParallax {
  /* The image used */
  background-image: url("../images/Eventos/Aprendiendo-Meditar-01.jpg");

  /* Set a specific height */
  min-height: 800px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*---Evento--Hatha--Yoga--Paarallax images----------------------------------------------*/
.eventoHathaYogaMainImgParallax {
  /* The image used */
  background-image: url("../images/Eventos/Hatha-Yoga-05.jpg");

  /* Set a specific height */
  min-height: 800px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*---Evento--Chi--Kung--Paarallax images----------------------------------------------*/
.eventoChiKungMainImgParallax {
  /* The image used */
  background-image: url("../images/Eventos/Chi-Kung-03.jpg");

  /* Set a specific height */
  min-height: 800px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*---Evento--Budismo Pocas Palabras--Paarallax images----------------------------------------------*/
.eventoPocasPalabrasMainImgParallax {
  /* The image used */
  background-image: url("../images/Eventos/Budismo-Pocas-Palabras-02.jpg");

  /* Set a specific height */
  min-height: 800px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*---Evento--Descubre el budismo--Paarallax images----------------------------------------------*/
.eventoDescubreBudismoMainImgParallax {
  /* The image used */
  background-image: url("../images/Budismo/DescubreBudismo.jpg");

  /* Set a specific height */
  min-height: 800px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*---Evento--Explorando Budismo--Paarallax images----------------------------------------------*/
.eventoExplorandoBudismoMainImgParallax {
  /* The image used */
  background-image: url("../images/Eventos/Explorando-Budismo-08.jpg");

  /* Set a specific height */
  min-height: 800px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*---Evento--Programa Basico-Paarallax images----------------------------------------------*/
.eventoProgramaBasicoMainImgParallax {
  /* The image used */
  background-image: url("../images/Budismo/ProgramaBasico-dawa.jpg");

  /* Set a specific height */
  min-height: 800px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*---Evento Debate Budismo Tibetano--Parallax images----------------------------------------------*/
.eventoDebateBudismoTibetanoMainImgParallax {
  /* The image used */
  background-image: url("../images/Eventos/Debate-Budismo-Tibetano-04.jpg");

  /* Set a specific height */
  min-height: 800px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*---Evento Mahakala--Parallax images----------------------------------------------*/
.eventoMahakalaMainImgParallax {
  /* The image used */
  background-image: url("../images/Eventos/Mahakala-06.jpg");

  /* Set a specific height */
  min-height: 800px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*---Evento Transformar Problemas--Parallax images----------------------------------------------*/
.eventoTransformarProblemasImgParallax {
  /* The image used */
  background-image: url("../images/Eventos/Tranformar-Problemas-07.jpg");

  /* Set a specific height */
  min-height: 800px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*---Media--Paarallax images----------------------------------------------*/
.mediaMainImgParallax {
  /* The image used */
  background-image: url("../images/Gallery/Gallery-1024.jpg");

  /* Set a specific height */
  min-height: 800px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*---Contacto--Parallax images----------------------------------------------*/
.contactoMainImgParallax {
  /* The image used */
  background-image: url("../images/Contact_img/MainContact.jpg");

  /* Set a specific height */
  min-height: 800px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Carousel -------------------------------------------------------------*/
.carouselTitle {
font-size: 2.5rem;
color: #fff;
font-weight: bold;
}
.carouselText {
  font-size: 2rem;
  color: #fff;
  font-weight: 800;
}
