/* -------------------------------------------------------------------------------------------------*/
*, html{
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
font-weight:normal;
color: #ffffff;
margin: 0;
padding: 0;
line-height: 2rem;
}
body {
background: url(../images/Background/TailMedRes.jpg);
background-repeat: repeat;
background-color:  #203E5E;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
width: 100%;
padding-right: 0;
padding-left: 0;
margin-right: auto;
margin-left: auto;
}
.row {
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: auto;
margin-left: auto;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
position: relative;
width: 100%;
padding-left: 0%;
padding-right: 0%;
}
address {
margin-bottom: 0;
font-style: normal;
line-height: inherit;
}
.Blue {
background-color: #203E5E;
}
.Maroon {
background-color: #9c3200;
}
.Orange {
background-color: #D1992A;
}
.White {
background-color: #f4f5f9;
}
.BlueText {
color:#203E5E;
font-size: 1rem;
}
.MaroonText {
color:  #9c3200;
font-size: 1rem;
}
.OrangeText {
color: #D1992A;
font-size: 1rem;
}
.WhiteText {
color:  #f4f5f9;
font-size: 1rem;
}
.BlueDesign {
background-color: #203E5E;
}
.ckCenterTextContent {
padding: 3%;
}
.btn-warning {
color: #ffffff !important;
background-color: #D1992A !important;
border-color: #D1992A !important;
}
.btn-warning:hover {
color: #ffffff;
background-color: #9c3200;
border-color: #9c3200;
}
.card-body {
width: 100%;
}
/*--Urls---------------------------------------------------------------------------------------------------------------------*/
a {
color: #ffff !important;
}
a:link, a:visited, a:active {
text-decoration: none !important;
}
a:hover {
text-decoration: none !important;
color: #D1992A;
}
.dropdown-item:hover, .dropdown-item:focus {
color:  #D1992A;
text-decoration: none;
background-color: #203E5E;
}
/*--nav----------------------------------------------------------------------------------------------------------------------*/
.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 15rem;
padding: 0.5rem 0;
margin: 0.125rem 0 0;
font-size: 1rem;
color: #ffff;
text-align: left;
list-style: none;
background-color: #203E5E;
background-clip: padding-box;
border: 1px solid rgba(0, 0, 0, 0.15);
border-radius: 0.25rem;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
.uno      { background-color:#000; padding:2% }
.dos 	{ background-color:#FCC; padding:2% }
.tres 	{ background-color:#F99; padding:2% }
.cuatro   { background-color:#F66; padding:2% }
.cinco 	{ background-color:#F33; padding:2% }
.seis 	{ background-color:#CCC; padding:2% }
.siete 	{ background-color:#9F6; padding:2% }
.ocho 	{ background-color:#00F; padding:2% }
.nueve 	{ background-color:#F00; padding:2% }
.diez 	{ background-color:#669; padding:2% }
.once 	{ background-color:#939; padding:2% }
.doce 	{ background-color:#3C3; padding:2% }